<%include header%>
<h1><b>¿Ya identificaste que zombie eres? Ahora ¡Búsca la mejor arma para tí!</b></h1>
<br>

<table class="table" id = "tabla">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope=col> Ubicación</th>
      <th scope="col">Especial para</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Pistola increible</th>
      <td>Éste tipo de arma se caracteriza por ser fácil de usar. Sólo requieres una mano.</td>
      <td>Abajo del puente, hay una serpiente, al lado estará pepito con pistolas (Manda a tu mano por ella!)</td>
      <td>Zombie sin mano</td>
      <td><img src="/pistola.jpg" width="50%" id="img"> </td>
    </tr>
    <tr>
      <th scope="row">Cuchillo pequeño</th>
      <td>Por su diminuto tamaño, es perfecto para atacar sin que se den cuenta</td>
      <td>Maritza tiene una gran coleccion de cuchillos, buscala en el bosque encantado.</td>      
      <td>Zombie miniatura</td>
      <td><img src="/cuchillo.jpg" width="50%" id="img"> </td>
    </tr>
    <tr>
      <th scope="row">Bazooka</th>
      <td>Es gigante, poderosa y puede matar a masas</td>
      <td>Buena suerte buscándo en la torre de rapunzel, cantar como chayanne lo hace más sencillo.</td>      
      <td>Zombie hulk</td>
      <td><img src="/bazooka.jpg" width="70%" id="img"> </td>
    </tr>
  </tbody>
</table>

<%include footer%>