<%include header%>
<h1>¡Identifica que tipo de zombie eres!</h1>
<br>

<table class="table" id="tabla">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Habilidad</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Zombie sin mano</th>
      <td>Éste tipo de zombie se caracteriza por no tener una de sus manos</td>
      <td>Es el zombie más valiente, se enfrenta a las criaturas más poderosas, por eso no tiene mano</td>
      <td><img src="/nomano.jpg" width="50%" id="img"> </td>
    </tr>
    <tr>
      <th scope="row">Zombie miniatura</th>
      <td>Éste tipo de zombie sólo mide 50cm</td>
      <td>Pequeño y escurridizo, éste zombie entra donde sea sin ser percibido, es más veloz que cualquiera</td>
      <td><img src="/bebe.jpg" width="50%" id="img"></td>
    </tr>
    <tr>
      <th scope="row">Zombie Hulk</th>
      <td>Se caracteriza por ser un monstruo enorme</td>
      <td>El más intimidante de todos, mide 2 veces más que un zombie normal y poseé una fuerza inimaginable</td>
      <td><img src="/hulk.jpg" width="50%" id="img"></td>
    </tr>

    <tr>
    <th scope="row">Zombie mano</th>
    <td>Se caracteriza por ser una mano conciente</td>
    <td>El más inutil, por lo regular lo encuentras al lado del zombie sin mano, sirve como distractor</td>
    <td><img src="/mano.jpg" width="50%" id="img"></td>
  </tr>
  </tbody>
</table>



<%include footer%>