<%include header%>


<h1>¡Bienvenido, pequeño zombie!<h1>
<br>
<h2>En esta página encontrarás información importante sobre los zombies, como los tipos que existen
y las armas que cada uno de ellos pude usar.
Por medio de tu ip rastrearemos si eres un zombie, para que así puedas entrar a nuestra sección especial 
¡VICTIMAS! Donde los demás zombies publican víctimas potenciales y toda su información para que tengas una rica cena. </h2> 
<h1>¡PROVECHO! </h1>

<img src= "/zombieindex.png" id="img"  >

<%include footer%>