<% include header %>

<h1>¿Cuál es tu código postal? </h1>
<form class = "pure-from">
<filedset>
    <input type = "numer" name="zip" placeholder="12345" autofocus required>
    <input type= "submit" class = "pure-button pure-button-primary" value="Go">
</filedset>
</form>

<script src = "http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src = "/main.js"></script>

<% include footer %>